Source: lxc
Section: admin
Priority: optional
Maintainer: Daniel Baumann <mail@daniel-baumann.ch>
Build-Depends:
 debhelper (>= 9),
 dh-autoreconf,
 dh-systemd,
 doxygen,
 autotools-dev,
 docbook2x,
 graphviz,
 libapparmor-dev,
 liblua5.2-dev,
 libcap-dev,
 libseccomp-dev [amd64 armhf i386],
 libselinux-dev,
 linux-libc-dev,
 pkg-config,
 python3-dev,
Standards-Version: 3.9.6
Homepage: http://linuxcontainers.org/
Vcs-Browser: http://daniel-baumann.ch/gitweb/?p=debian/packages/lxc.git
Vcs-Git: git://daniel-baumann.ch/git/debian/packages/lxc.git

Package: lxc-dev-tkl
Section: libdevel
Architecture: linux-any
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
 lxc (>= 1:1.0.6-6+deb8u1),
Description: Linux Containers userspace tools (development)
 Containers are insulated areas inside a system, which have their own namespace
 for filesystem, network, PID, IPC, CPU and memory allocation and which can be
 created using the Control Group and Namespace features included in the Linux
 kernel.
 .
 This package contains the development files and shared library.

